NOTIFICATION_EMAIL_TRANSPORT=log
NOTIFICATION_EMAIL_FROM=noreply@smartparking.local
NOTIFICATION_SMTP_HOST=localhost
NOTIFICATION_SMTP_PORT=587
NOTIFICATION_SMTP_USERNAME=
NOTIFICATION_SMTP_PASSWORD=
