APP_PORT=8083
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=parking_service_db
OTEL_EXPORTER_OTLP_ENDPOINT=localhost:4318
KAFKA_BROKERS=localhost:9094
KAFKA_SPOT_TOPIC=spot-status-events
KAFKA_PARKING_COMMAND_TOPIC=parking-spot-commands
KAFKA_PARKING_COMMAND_GROUP_ID=parking-service-commands
