APP_PORT=8082
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=subscription_service_db
USER_SERVICE_URL=http://localhost:8081
PARKING_SERVICE_URL=http://localhost:8083
REDIS_ADDR=localhost:6379
REDIS_PASSWORD=
REDIS_DB=0
REDIS_KEY_PREFIX=subscription_cache:
REDIS_CACHE_TTL_SECONDS=60
