APP_PORT=8084
MONGO_URI=mongodb://localhost:27017
MONGO_DB_NAME=event_service_db
MONGO_COLLECTION=parking_events
KAFKA_BROKERS=localhost:9094
KAFKA_RESERVATION_TOPIC=reservation-lifecycle-events
KAFKA_GROUP_ID=event-service-history
