APP_PORT=8086

DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=reservation_service_db

USER_SERVICE_URL=http://localhost:8081
PARKING_SERVICE_URL=http://localhost:8083
KAFKA_BROKERS=localhost:9094
KAFKA_RESERVATION_TOPIC=reservation-lifecycle-events
KAFKA_PARKING_COMMAND_TOPIC=parking-spot-commands
KAFKA_SPOT_TOPIC=spot-status-events
KAFKA_SPOT_GROUP_ID=reservation-service-spots

RESERVATION_TTL_MINUTES=5

