APP_PORT=8086

DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=reservation_service_db

USER_SERVICE_URL=http://localhost:8081
PARKING_SERVICE_URL=http://localhost:8083
KAFKA_BROKERS=localhost:9092
KAFKA_RESERVATION_TOPIC=reservation-lifecycle-events

RESERVATION_TTL_MINUTES=5

