APP_PORT=8085
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=notification_service_db
SUBSCRIPTION_SERVICE_URL=http://localhost:8082
USER_SERVICE_URL=http://localhost:8081
EMAIL_TRANSPORT=log
EMAIL_FROM=noreply@smartparking.local
SMTP_HOST=localhost
SMTP_PORT=587
SMTP_USERNAME=
SMTP_PASSWORD=
